#about-section {
     padding: 5% 10%;
     background: #ffffff;
}

#about-section h2 {
     font-size: 3vw;
     font-weight: 900;
     color: #0D7AB9;
     letter-spacing: 2px;
     margin-bottom: 50px;
     text-transform: uppercase;
}

#about-section h3 {
     font-size: 2vw;
     color: #464633;
     font-weight: 500;
     letter-spacing: 2px;
     margin-bottom: 50px;
}






/* #about-section {
     display: flex;
     padding: 1% 10%;
     color: #f9f9f9;
     background: #000000;
     justify-content: space-between;
}

#about-section .description-container,
#about-section .gallery-container {
     width: 49%;
}

.gallery-container {
     text-align: center;
}

.gallery-container div {
     display: flex;
     justify-content: space-between;
}

.gallery-container div img {
     width: 48%;
     margin-bottom: 15px;
     border: 2px solid #0D7AB9;
}

.description-container {
     text-align: right;
}

.description-container h3 {
     font-size: 60px;
     margin-bottom: 15px;
}

.description-container p {
     margin-bottom: 15px;
}

.description-container span {
     font-size: 22px;
} */