/* PROBLEM SOLVING BAR */
@keyframes skill-1-fill {
    0% {
        width: 0;
    }
    100% {
        width: 84%;
    }
}


/* CURIOSITY BAR */
@keyframes skill-2-fill {
    0% {
        width: 0;
    }
    100% {
        width: 71%;
    }
}


/* CREATIITY BAR */
@keyframes skill-3-fill {
    0% {
        width: 0;
    }
    100% {
        width: 88%;
    }
}


/* HELP BAR */
@keyframes skill-4-fill {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}


/* SPACE BUTTON BACKGROUND */
@keyframes bg-pop {
    0% {
        color: var(--primary-text-color);
        background: var(--primary-color);
    }
    100% {
        color: var(--primary-color);
        background: var(--primary-text-color);
    }

}