.header {
     top: 0;
     width: 100%;
     z-index: 10;
     display: flex;
     padding: 2% 10%;
     position: fixed;
     align-items: center;
     justify-content: space-between;
     background: var(--secondary-bg-color);
     box-shadow:  var(--secondary-box-shadow)
}

.header .header-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.header .logo {
     height: 65px;
}

.nav-menu .nav-list {
     display: flex;
     justify-content: space-between;
     background: var(--secondary-bg-color);
}

.nav-menu .nav-list .nav-item a {
     padding: 0 50px;
     font-size: 16px;
     font-weight: 600;
     white-space: nowrap;
     color: var(--secondary-text-color);
}

.nav-menu .nav-list .nav-item a:last-child {
     padding-right: 0;
}

.nav-menu .nav-list .nav-item a:hover {
     color: var(--primary-color);
     transition: color .5s ease-in-out;
}

.nav-button{
     display: none;
}

@media screen and (max-width: 1200px) {
     .nav-button{
          top: 3%;
          width: 50px;
          right: 10%;
          z-index: 200;
          height: 50px;
          display: block;
          position: fixed;
          font-size: 30px;
          color: var(--primary-text-color);
          border-radius: 5px;
          background: var(--primary-bg-color);
          border: 2px solid var(--primary-text-color);
     }
     .nav-list{
          position: fixed;
          top: -100%;
          left: 0;
          transition: all 0.4s linear;
          display: flex;
          flex-direction: column;
          width: 100vw;
          height: 100vh;
          justify-content: center !important;
          align-items: center;
          z-index: 100;
     }
     .nav-list.active{
          top: 0;
     }

     .nav-menu .nav-list .nav-item {
          margin-bottom: 20px;
     }

     .nav-menu .nav-list .nav-item a {
          padding: 0;
          font-size: 10vw;
          color: var(--secondary-bg-color);
          text-shadow: 1px 1px 0 var(--primary-color), -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
     }
}