.instructions-container {
    top: 20px;
    left: 50px;
    position: fixed;
}

.instructions-container p {
    font-weight: 500;
    text-transform: capitalize;
}

.instructions-container span {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    border: 2px solid var(--primary-color);
}

.instructions-container span:hover {
    color: var(--secondary-bg-color);
    background: var(--primary-color);
}   
