#landing-section {
     display: flex;
     padding: 5% 10%;
     flex-direction: column;
     margin-top: 80px;
}

#landing-section div  p {
     font-size: 24px;
     color: #96a0a6;
     font-weight: bold;
}

#landing-section div h1 {
     color: #051c2c;
     font-size: 80px;
     font-weight: 900;
}

#landing-section div h1 span {
     font-size: 120px;
}

#landing-section div a .btn {
     font-size: 24px;
}


/* MEDIA QUERRIES FOR PHONES BETWEEN 0 - 600PX*/
@media screen and (max-width: 600px) {
     #landing-section {
          height: 80vh;
          padding-top: 50%;
     }

     #landing-section div  p {
          font-size: 20px;
     }

     #landing-section div h1 {
          font-size: 40px;
          margin-bottom: 50px;
     }

     #landing-section div h1 span {
          font-size: 70px;
     }

     #landing-section div a .btn {
          font-size: 24px;
     }
}
