#resume-section {
    padding: 5% 10%;
    background: var(--primary-bg-color);
}

#resume-section .section-header .cursive {
    font-size: 50px; 
}


#resume-section .education-container, 
#resume-section .experience-container {
    width: 50%;
}

#resume-section .education-container h4, 
#resume-section .experience-container h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

/* RESUME CONTAINER */
#resume-section .resume-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* RESUME ITEM */
#resume-section .education-container .resume-item, 
#resume-section .experience-container .resume-item {
    width: 600px;
    padding: 30px;
    max-width: 95%;
    min-height: 300px;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--primary-box-shadow);
    border-left: 4px solid var(--primary-color);
}

#resume-section .experience-container .resume-item:nth-child(4) {
    min-height: 240px;
}

#resume-section .education-container .resume-item h5, 
#resume-section .experience-container .resume-item h5 {
    font-size: 20px;
    margin-bottom: 20px;
}  

#resume-section .education-container .resume-item a, 
#resume-section .experience-container .resume-item a {
    font-weight: 500;
    color: var(--primary-color);
}  

#resume-section .education-container .resume-item h6,
#resume-section .experience-container .resume-item h6 {
    font-size: 13px;
    color: var(--primary-text-color);
}   

/* TECH STACK SECTION */
#resume-section .tech-stacks .stack-container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
}

#resume-section .tech-stacks .stack-container .stack {
    width: 100%;
    padding: 30px;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: var(--primary-bg-color);
    box-shadow: var(--primary-box-shadow);
}

#resume-section .tech-stacks .stack-container .stack p {
    opacity: .5;
    font-size: 25px;
}

#resume-section .tech-stacks .stack-container .stack h6 {
    font-size: 30px;
    color: var(--primary-color);
}


/* MEDIA QUERRIES FOR PHONES BETWEEN 0 - 800PX*/
@media screen and (max-width: 900px) {
    #resume-section { 
        padding: 10%;
    }

    #resume-section .education-container, 
    #resume-section .experience-container {
        width: 100%;
    }

    #resume-section .resume-container {
        flex-direction: column;
    }   

    #resume-section .resume-container h4 {
        font-size: 30px;
        margin-bottom: 20px;
    }   

    #resume-section .education-container .resume-item, 
    #resume-section .experience-container .resume-item {
        width: 100%;
        max-width: 100%;
    }

    #resume-section .education-container, 
    #resume-section .experience-container {
        margin-bottom: 50px;
    }

    #resume-section .tech-stacks .stack-container {
        flex-direction: column;
    }

    #resume-section .tech-stacks .stack-container .stack {
        width: 100%;
    }

    #resume-section .tech-stacks .stack-container {
        justify-content: center;
    }
    
}